# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
__init__.py
postag_test_auto.json
postag_train_auto.json
dependency_train_auto.json
dependency_test_auto.json
DependencyTermExtractor.py
w2v_path.txt
config.json
model.h5
todo.txt
*.ipynb

# Distribution / packaging
.Python
data/

.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# mypy
.mypy_cache/
